* {
    box-sizing: border-box;
}

.layout {
	margin: 3rem auto;
	max-width: 750px;
	padding: 0 1rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
    background-color: aquamarine;
    padding: 5px 20px 5px 20px;
    border-radius: 8px;
}

.header ul {
    text-decoration: none;
    margin-left: auto;
    color: aqua;
}

.header li {
    text-decoration: none;
    display: inline;
    padding: 10px;
    color: aqua;
}

.header li a {
    color: rgb(1, 112, 112);
    text-shadow: none;
}

h1 {
    margin-top: 30px;
}

.main {
    padding: 0px 30px 0px 30px;
}